{% extends "core/base.html" %}
{% load static %}


{% block content %}
<main class="container mx-auto px-6 py-8">
    <div class="flex flex-col md:flex-row">
        <!-- <script type="text/javascript">
            atOptions = {
                'key' : '4a29a4788e5f9a4e95cb7a5cbffd2073',
                'format' : 'iframe',
                'height' : 60,
                'width' : 468,
                'params' : {}
            };
        </script>
        <script type="text/javascript" src="//www.topcpmcreativeformat.com/4a29a4788e5f9a4e95cb7a5cbffd2073/invoke.js"></script>
        
        -->


        
        <!-- <script type="text/javascript">
            atOptions = {
                'key' : 'f51d45e489d60272a94a977df541e5e0',
                'format' : 'iframe',
                'height' : 250,
                'width' : 300,
                'params' : {}
            };
        </script>
        <script type="text/javascript" src="//www.topcpmcreativeformat.com/f51d45e489d60272a94a977df541e5e0/invoke.js"></script>   
        Product Images -->

        
        <div class="w-full md:w-1/2 mb-8 md:mb-0">
            <div class="mb-4">
                <img id="main-image" src="{{product.image1}}" alt="Image principale du produit" class="w-full h-auto  rounded-lg shadow-md">
            </div>
            <div class="grid grid-cols-4 gap-4" id="thumbnail-container">
                <!-- Thumbnails will be inserted here -->
            </div>
        </div>

        <!-- Product Details -->
        <div class="w-full md:w-1/2 md:pl-8">
            <h1 class="text-3xl font-bold text-[#5A0B29] mb-4">{{product.name}}</h1>
            <p class="text-gray-600 mb-4">Réf: {{product.ref}}</p>
            <div class="flex items-center mb-4">
                <div class="flex text-yellow-400 mr-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span class="text-gray-600">(4.5/5, 128 avis)</span>
            </div>
            <p class="text-2xl font-bold text-gray-800 mb-4">{{product.price}} XAF</p>
            <p class="text-gray-700 mb-6">{{product.leading}}</p>
            
            <div class="mb-6">
                <h3 class="font-semibold text-gray-800 mb-2">Couleur:</h3>
                <div class="flex space-x-2">
                    <button class="w-8 h-8 rounded-full bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"></button>
                    <button class="w-8 h-8 rounded-full bg-brown-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brown-500"></button>
                    <button class="w-8 h-8 rounded-full bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"></button>
                </div>
            </div>
            

            <div class="mb-6">
                <h3 class="font-semibold text-gray-800 mb-2">Quantité:</h3>
                <div class="flex items-center">
                    <button class="bg-gray-200 px-3 py-1 rounded-l-md focus:outline-none">-</button>
                    <input type="number" value="1" min="1" class="w-16 text-center border-t border-b border-gray-200 py-1 focus:outline-none">
                    <button class="bg-gray-200 px-3 py-1 rounded-r-md focus:outline-none">+</button>
                </div>
            </div>

            <button class="bg-[#5A0B29] text-white px-6 py-3 rounded-md font-semibold hover:bg-[#5A0B00] transition-smooth w-full md:w-auto">Ajouter au Panier</button>
        </div>
    </div>

    <!-- Product Description -->
    <div class="mt-12">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Description du Produit</h2>
        <p class="text-gray-700 mb-4">
            {{product.description}}
        </p>
        <!-- <ul class="list-disc list-inside text-gray-700 mb-4">
            <li>Bracelet en cuir véritable</li>
            <li>Cadran en acier inoxydable</li>
            <li>Mouvement à quartz précis</li>
            <li>Résistant à l'eau jusqu'à 30 mètres</li>
            <li>Garantie de 2 ans</li>
        </ul> -->
    </div>

    <!-- Customer Reviews -->
    <div class="mt-12">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Avis Clients</h2>
        <!-- Add your review component here -->
    </div>
</main>

{{ product.image1|json_script:"image1"}}
{{ product.image2|json_script:"image2"}}
{{ product.image3|json_script:"image3"}}
{{ product.image4|json_script:"image4"}}
<script>
    
    const image1 = JSON.parse(document.getElementById('image1').textContent)
    const image2 = JSON.parse(document.getElementById('image2').textContent)
    const image3 = JSON.parse(document.getElementById('image3').textContent)
    const image4 = JSON.parse(document.getElementById('image4').textContent)
   

    const productImages = [
        image1,
        image2,
        image3,
        image4
    ];
    
    function createThumbnail(src, index) {
        return `
            <img src="${src}" alt="Thumbnail ${index + 1}" class="w-full h-auto rounded cursor-pointer hover:opacity-75 transition-smooth" onclick="changeMainImage('${src}')">
        `;
    }

    function changeMainImage(src) {
        document.getElementById('main-image').src = src;
    }

    const thumbnailContainer = document.getElementById('thumbnail-container');
    productImages.forEach((src, index) => {
        if(src){
            thumbnailContainer.innerHTML += createThumbnail(src, index);
        }
        
    });
</script>


{% endblock content %}