{% extends "core/base.html" %}
{% load static %}


{% block content %}
<main class="container mx-auto mt-8 px-4">
    {% if  not request.user.is_authenticated %}
    <section id="partnerLoginForm" class="max-w-2xl mx-auto bg-white rounded-lg shadow-md p-8 animate-fadeIn">
        <h2 class="text-3xl font-bold text-[#5A0B29] mb-6">Connectez-vous a votre compte partenaire BMI</h2>
        <form  class="space-y-4" action="{% url 'partner:login' %}" method="post" >
            {% csrf_token %}
            <div class="messages">
                {% for message in messages %}
                    <h5 class="message {{message.tags}}">{{message}}</h5>
                {% endfor %}
            <div>

            <div class="mb-4">
                <label for="email" class="block text-gray-700 mb-2">Email professionnel</label>
                <input type="email" id="email" name="email" required class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#5A0B29]">
            </div>
            <div class="mb-4">
                <label for="password" class="block text-gray-700 mb-2">Mot de passe</label>
                <input type="password" id="password" name="password" required class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#5A0B29]">
            </div>
            
            <p class="mt-4 text-center">
                devenir partenaire? <a href="#" onclick="switchForm()" class="text-[#5A0B29] hover:underline">Créer un compte partenaire</a>
            </p>
            <div>
                <button type="submit" class="w-full bg-[#5A0B29] text-white font-bold py-3 px-4 rounded-md hover:bg-opacity-90 transition duration-300">Se Connecter</button>
            </div>
        </form>
    </section>

    <section id="partnerRegisterForm" class="max-w-2xl mx-auto bg-white rounded-lg shadow-md p-8 animate-fadeIn hidden">
        <h2 class="text-3xl font-bold text-[#5A0B29] mb-6">Créer votre compte partenaire BMI</h2>
        <form action="{% url 'partner:register' %}" method="post" class="space-y-4">
            {% csrf_token %}
            <div class="messages">
                {% for message in messages %}
                    <h5 class="message {{messages.tags}}">{{message}}</h5>
                {% endfor %}
            <div>
            <div class="mb-4" >
                <label for="companyName" class="block text-gray-700 mb-2">Nom de l'entreprise</label>
                <input type="text" id="companyName" name="companyName" required class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#5A0B29]">
            </div>
            <div class="mb-4">
                <label for="r_email" class="block text-gray-700 mb-2">Email professionnel</label>
                <input type="email" id="r_email" name="email" required class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#5A0B29]">
            </div>
            <div class="mb-4">
                <label for="password1" class="block text-gray-700 mb-2">Mot de passe</label>
                <input type="password1" id="password1" name="password1" required class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#5A0B29]">
            </div>
            <div class="mb-4">
                <label for="confirmPassword" class="block text-gray-700 mb-2">Confirmer le mot de passe</label>
                <input type="password" id="confirmPassword" name="password2" required class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#5A0B29]">
            </div>
            <div class="mb-4">
                <label for="phone_number" class="block text-gray-700 mb-2">Numero de téléphone</label>
                <input type="text" id="phone_number" name="phone_number" placeholder="entrer le numero de telephone de l'entreprise avec l'identifiant du pays" required class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#5A0B29]">
            </div>
            <div class="mb-4">
                <label for="city" class="block text-gray-700 mb-2">Ou vous trouvez vous?</label>
                <select id="city" name="city" class="w-full border p-2 rounded-lg" required>
                    <option value="">Votre région</option>
                    <option value="Centre">Centre</option>
                    <option value="Littoral">Littoral</option>
                    <option value="Ouest">Ouest</option>
                    <option value="Nord-Ouest">Nord-Ouest</option>
                    <option value="Sud-Ouest">Sud-Ouest</option>
                    <option value="Adamawa">Adamawa</option>
                    <option value="Est">Est</option>
                    <option value="Sud">Sud</option>
                    <option value="Extreme Nord">Extreme Nord</option>
                </select>
            </div>
            <div class="mb-4">
                <label for="industry" class="block text-gray-700 mb-2">Quel type de produit vendez vous?</label>
                <select id="industry" name="product_type" class=" border w-full p-2 rounded-lg" required>
                    <option value="">Selectionnez une catégorie</option>
                    <option value="Alimentaire" >Alimentaire</option>
                    <option value="Beauté" >Beauté</option>
                    <option value="Vètements">Vètements</option>
                    <option value="Electronique">Electronique</option>
                    <option value="Décoration">Décoration</option>
                    <option value="Divers">Divers</option>
                </select>
            </div>
            <p class="mt-4 text-center">
                Vous avez déja un compte? <a href="#" onclick="switchForm()" class="text-[#5A0B29] hover:underline">Connectez-vous</a>
            </p>
            <div>
                <button type="submit" class="w-full bg-[#5A0B29] text-white font-bold py-3 px-4 rounded-md hover:bg-opacity-90 transition duration-300">Créer le compte</button>
            </div>
        </form>
    </section>
    {% else %}
    <h2 class="text-3xl font-bold text-[#5A0B29] mb-6">Tableau de Bord {{provider.name}}</h2>
    
    
   
    
    <section class="items  mb-8 animate-fadeIn">
            <div class="flex justify-between">
                <span class="text-2xl flex justify-between font-semibold mb-4">Vos Produits</span>
                <a href="#addProduct" class="bg-[#5A0B29] mb-2 flex items-center text-white font-bold py-2 px-4 rounded-full hover:bg-opacity-90 transition duration-300">Ajouter</a>
            </div>
        
            <div class="overflow-x-auto">
                <table class="w-full bg-white shadow-md rounded-lg">
                    <thead class="bg-gray-200">
                        <tr>
                            <th class="p-3 text-left">Nom du Produit</th>
                            <th class="p-3 text-left">Prix</th>
                            <th class="p-3 text-left">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="productList">
                        <!-- Les produits seront ajoutés ici dynamiquement -->
                        
                        <!-- <div class="text-center py-4">
                            <i style="font-size: 30pt;" class="loader fas fa-spinner fa-spin text-[#5A0B29]"></i> 
                            <span>chargement des produits...</span>
                        </div> -->
                         
                    </tbody>
                    
                </table>
            </div>
        </section>
    
    <!-- Orders Table -->
    <h2 class="text-2xl font-bold text-[#5A0B29] mb-6">Vos dernieres commandes</h2>
    <div class="bg-white rounded-lg shadow mb-4 overflow-hidden">
       
        <table class="w-full">
            <thead class="bg-gray-50">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Produit
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Client
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Date
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Montant
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Status
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                {% for order in orders %}
                <!-- Order Row 1 -->
                <tr class="order-card hover:bg-gray-50">
                    <td class="px-6 py-4 whitespace-nowrap">
                        <span class="text-sm text-gray-900">{{order.item.name}}</span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                            <svg class="w-8 h-8 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                            </svg>
                              
                            <!-- <img class="h-8 w-8 rounded-full" src="https://randomuser.me/api/portraits/men/1.jpg" alt=""> -->
                            <div class="ml-4">
                                <div class="text-sm font-medium text-gray-900">{{order.customer.name}}</div>
                                <div class="text-sm text-gray-500">{{order.customer.email}}</div>
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <span class="text-sm text-gray-900">{{order.timestamp}}</span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <span class="text-sm text-gray-900">{{order.item.total}} FCFA</span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                            Completée
                        </span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                        <button class="text-blue-600 hover:text-blue-900 mr-3">
                            <i class="fas fa-eye"></i>
                        </button>
                        <button class="text-gray-600 hover:text-gray-900">
                            <i class="fas fa-download"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                <!-- Order Row 2 -->
                <!-- <tr class="order-card hover:bg-gray-50">
                    <td class="px-6 py-4 whitespace-nowrap">
                        <span class="text-sm text-gray-900">#ORD-2024-1235</span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                            <svg class="w-8 h-8 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                            </svg>
                            <div class="ml-4">
                                <div class="text-sm font-medium text-gray-900">Sarah Johnson</div>
                                <div class="text-sm text-gray-500">sarah@example.com</div>
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <span class="text-sm text-gray-900">Jan 14, 2024</span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <span class="text-sm text-gray-900">1850.00 FCFA </span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                            Pending
                        </span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                        <button class="text-blue-600 hover:text-blue-900 mr-3">
                            <i class="fas fa-eye"></i>
                        </button>
                        <button class="text-gray-600 hover:text-gray-900">
                            <i class="fas fa-download"></i>
                        </button>
                    </td>
                </tr> -->

                <!-- Add more order rows as needed -->
            </tbody>
        </table>

        <!-- Pagination -->
        <div class="bg-white px-4 py-3 border-t border-gray-200 sm:px-6">
            <div class="flex items-center justify-between">
                <div class="flex-1 flex justify-between sm:hidden">
                    <button class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
                        Previous
                    </button>
                    <button class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
                        Next
                    </button>
                </div>
                <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                    <div>
                        <p class="text-sm text-gray-700">
                            Showing <span class="font-medium">1</span> to <span class="font-medium">1</span> of <span class="font-medium">1</span> results
                        </p>
                    </div>
                    <div>
                        <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                            <button class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                                <span class="sr-only">Previous</span>
                                <i class="fas fa-chevron-left"></i>
                            </button>
                            <button class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                                1
                            </button>
                            <button class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                                2
                            </button>
                            <button class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                                3
                            </button>
                            <button class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                                <span class="sr-only">Next</span>
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <section id="addProduct" class="bg-white p-6 rounded-lg shadow-md animate-fadeIn">
            <h3 class="text-2xl font-semibold mb-4">Ajouter un Nouveau Produit</h3>
            <form  id="addProductForm" enctype="multipart/form-data" method="post" action = "{% url 'partner:add_product' %}" class="space-y-4">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="productName" class="block text-gray-700 mb-2">Nom du Produit</label>
                    <input type="text" id="productName" name="productName" required class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#5A0B29]">
                </div>
                <div class="mb-4">
                    <label for="productPrice" class="block text-gray-700 mb-2">Prix (FCFA)</label>
                    <input type="number" id="productPrice" name="productPrice" step="0.01" required class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#5A0B29]">
                </div>
                <div class="mb-4">
                    <label for="productDescription" class="block text-gray-700 mb-2">Description</label>
                    <textarea id="productDescription" name="productDescription" placeholder="Plus votre description est détaillé, plus vous avez des chances de vendre" rows="3" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#5A0B29]"></textarea>
                </div>

                <div class="mb-4">
                    <label for="image1" class="block text-gray-700 mb-2">Image 1(ajoutez au moins deux images)</label>
                    <input type="file" id="image1" name="image1"  required class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#5A0B29]">
                    
                </div>
                <div class="mb-4">
                    <label for="image2" class="block text-gray-700 mb-2">Image 2</label>
                    <input type="file" id="image2" name="image2"  required class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#5A0B29]">
                </div>
                <div class="mb-4">
                    <label for="image3" class="block text-gray-700 mb-2">Image 3</label>
                    <input type="file" id="image3" name="image2"  required class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#5A0B29]">
                </div>
                <div class="mb-4">
                    <label for="image4" class="block text-gray-700 mb-2">Image 4</label>
                    <input type="file" id="image4" name="image4"  required class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#5A0B29]">
                </div>
               
                <!-- <div>
                    <span class="bg-[#5A0B29] text-white font-bold py-2 px-4 rounded-md hover:bg-opacity-90 hover:cursor-pointer transition duration-300"><i class="fas fa-plus" ></i></span>
                </div> -->
                


                <div>
                    <button type="submit" class="bg-[#5A0B29] text-white font-bold py-2 px-4 rounded-md hover:bg-opacity-90 transition duration-300">Ajouter le Produit</button>
                </div>
            </form>
        </section>

        <!-- Popup for deleting item -->
<div id="deleteProductPopup" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden z-50">
    <div class="bg-gray-800 rounded-lg p-8 max-w-md w-full mx-4">
        <h2 class="text-2xl font-bold mb-4">Voulez vous supprimer ce produit?</h2>
        
        <div class="flex justify-between">
            <button id="confirmInvite" class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition duration-300">
                <i class="fas fa-check mr-2"></i>Confirmer
            </button>
            <button id="cancelInvite" class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 transition duration-300">
                <i class="fas fa-times mr-2"></i>Annuler
            </button>
        </div>
    </div>
</div>


    {% endif %}
</main>

<script>
    function switchForm(){
        const loginForm = document.querySelector("#partnerLoginForm")
        const registerForm = document.querySelector("#partnerRegisterForm")
        
        registerForm.classList.toggle('hidden');
        loginForm.classList.toggle('hidden');
    }
</script>
<script>
    // Simuler des produits existants

    const productList = document.getElementById('productList');
    const addProductForm = document.getElementById('addProductForm');

    function displayProducts() {

        $.ajax({
            url: '/partner/products/{{provider.id}}',
            type: 'GET',
            beforeSend: function(){
                $('#loading-overlay').toggleClass('active')
                
            },
            success : function(res){
                if(res.status == 'success'){
                    const products = res.items
                    productList.innerHTML = '';
                    
                    products.forEach(product => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td class="p-3">${product.name}</td>
                            <td class="p-3">${product.price.toFixed(2)} XAF</td>
                            <td class="p-3">
                                <a href="/partner/products/edit/${product.id}" class="bg-blue-500 text-white px-2 py-1 rounded inline-block my-2 mr-2">Modifier</a>
                                <a href="#" onclick="deleteProduct(${product.id})" class="bg-red-500 inline-block text-white px-2 py-1 rounded my-2">Supprimer</a>
                            </td>
                        `;
                        productList.appendChild(row);
                    });
                }else{
                    // console.log(res)
                }
            },
            complete: function(){
                $('#loading-overlay').toggleClass('active')
            },
            error:  function(jqXHR, textstatus, errorThrown){
                console.log(textstatus, errorThrown)
            }
        })

       
    }

    

    function editProduct(id) {
        
        if (product) {
            const newName = prompt("Nouveau nom du produit:", product.name);
            const newPrice = prompt("Nouveau prix du produit:", product.price);
            if (newName && newPrice) {
                product.name = newName;
                product.price = parseFloat(newPrice);
                displayProducts();
            }
        }
    }

    function deleteProduct(id) {
        if (confirm("Êtes-vous sûr de vouloir supprimer ce produit ?")) {
            $.ajax({
            url: `/partner/products/delete/${id}`,
            type: 'POST',
            data: { csrfmiddlewaretoken: '{{csrf_token}}' },
            beforeSend: function(){
                $('#loading-overlay').toggleClass('active')
            },
            success : function(res){
                if(res.status == 'success'){
                    displayProducts();
                }else{
                    alert("Le produit n'a pas été supprimé")
                }
            },
            complete: function(){
                $('#loading-overlay').toggleClass('active')
            },
            error:  function(jqXHR, textstatus, errorThrown){
                console.log(textstatus, errorThrown)
            }
        })
           
        }
    }

   document.getElementById('addProductForm').addEventListener("submit",(e)=>{
        e.preventDefault()
        const productName = $('#productName').val()
        const productDescription = $('#productDescription').val()
        const productPrice = $('#productPrice').val()
        const image1 = $('#image1')[0].files[0]
        const image2 = $('#image2')[0].files[0]
        const image3 = $('#image3')[0].files[0]
        const image4 = $('#image4')[0].files[0]

        const formData = new FormData()
        formData.append('productName',productName)
        formData.append('productDescription',productDescription)
        formData.append('productPrice',productPrice)
        formData.append('image1',image1)
        formData.append('image2',image2)
        formData.append('image3',image3)
        formData.append('image4',image4)
        formData.append('csrfmiddlewaretoken', '{{csrf_token}}')
        
        
        $.ajax({
            url:"{% url 'partner:add_product' %}",
            type : 'POST',
            data : formData,
            contentType: false,
            processData: false,
            beforeSend: function(){
                $('#loading-overlay').toggleClass('active')
            },
            success: function(res){
                console.log(res)
                if(res.status == 'success'){
                    displayProducts()
                }
            },
            complete: function(){
                $('#loading-overlay').toggleClass('active')
            },
            error: function(jqXHR, textstatus,errorThrown){
                alert("une erreur s'est produite")
                console.log(textstatus, errorThrown)
            }
            
        })

   })

    
    if(productList){
        displayProducts();
    }


    
</script>

{% endblock content %}